body {
    background-image: url(../css/images/recordPlayerWindo.jpg);
    background-repeat: cover;
}

.jumbotron, #surveyForm {
    opacity: 0.90;
    filter: alpha(opacity=30);
}

#surveyForm, .surveyQuestions {
    color: antiquewhite;
    margin: 15px;
}

.questions {
    color: gray;
    margin-bottom: 15px;
}

.footer {
    margin-top: 25px;
    padding-top: 20px;
}
button {
    margin: 10px;
}